$primary: #41939E;
$primary-dark: #23575F;
$primary-light: #83DDEA;
$secondary: #C96464;
$secondary-dark: #A04545;
$secondary-light: #F4A0A0;
$green: #57BC61;
$green-dark: #3C8843;
$orange: #F4D2A9;
$orange-dark: #DFBA8E;
$lighter-gray: #F3F3F3;
$light-gray: #ECECEC;
$dark-gray: #6B6B6B;
$black: #102426;